<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row cols-1 cols-sm-2 gy-2 py-4">
        <div class="col-sm-12 text-center"><h2>Invoice Header</h2></div>
        <div class="col-md-4">
            <label for="N_Invoice" class="form-label">Invoice Number</label>
            <input type="number" class="form-control" name="N_Invoice" placeholder="write the Invoice number">
        </div>
        <div class="col-md-4">
            <label for="Invoice_Date" class="form-label">Invoice Date</label>
            <input type="date" class="form-control" name="Invoice_Dat" placeholder="write the date of the Invoice">
        </div>
        <div class="col-md-4">
            <label for="Seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="Seller" placeholder="write the seller's name">
        </div>
        <div class="col-md-4">
            <label for="Identification" class="form-label">customer ID number</label>
            <input type="number" class="form-control" name="Identification" placeholder="write the customer identification number">
        </div>
        <div class="col-md-4">
            <label for="Full_Name" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="Full_Name" placeholder="write the full name">
        </div>
        <div class="col-md-4">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" placeholder="write the e-mail">
        </div>
        <div class="col-md">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" placeholder="write the address">
        </div>
        <div class="col-md">
            <label for="Phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" name="Phone" placeholder="write the phone">
        </div>
    </div>
</div>