<div class="row row-cols-sm-6 gy-2 py-2">
    <div>
        <label for="Product_code" class="form-label">Product code</label>
        <input type="number" class="form-control" name="Product_code" placeholder="Write the product code">
    </div>
    <div>
        <label for="Product_name" class="form-label">Product name</label>
        <input type="text" class="form-control" name="Product_name" placeholder="Write the product name">
    </div>
    <div>
        <label for="Quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" value="1" name="Quantity" readonly placeholder="Write the Quantity">
    </div>
    <div>
        <label for="Unit_value" class="form-label">Unit value</label>
        <input type="number" class="form-control" name="Unit_value" placeholder="Write the Unit value">
    </div>
    <div class="d-flex align-items-center">
        <button type="button" class="btn w-100 h-100 btn-outline-success">+</button>
    </div>
    <div class="d-flex align-items-center">
        <button type="button" class="btn w-100 h-100 btn-outline-danger">-</button>
    </div>
    
</div>